@model CoverType

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Id" hidden/>
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2>@(Model.Id==0?"Create":"Edit") cover type</h2>
            <hr/>
        </div>
        <div class="mb-3">
            <label asp-for=Name></label>
            <input asp-for=Name class=form-control />
            <span asp-validation-for=Name class="text-danger"></span>
        </div>

        @if (Model.Id == 0)
        {
            <button type="submit" class="btn btn-primary">Create</button>
        } else
        {
            <button type="submit" class="btn btn-secondary">Update</button>
        }

        <a asp-controller="CoverType" asp-action="Index" class="btn btn-primary">Back To List</a>
    </div>
</form>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}