@page
@model RazorPagesWebCRUD.Pages.Categories.DeleteModel

<form method="post">
    <input hidden asp-for="category.Id" />
    <div class="border-bottom pd-2">
        <h2 class="text-primary pl-3 mt-3">Delete Category</h2>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="category.Name"></label>
        <input asp-for="category.Name" class="form-control" />
        <span asp-validation-for="category.Name" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="category.DisplayOrder"></label>
        <input asp-for="category.DisplayOrder" class="form-control" />
        <span asp-validation-for="category.DisplayOrder" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Delete</button>
    <a asp-page="Index" class="btn btn-secondary">Back to List</a>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
