<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">User List</h2>
        </div>
    </div>
    <br /><br />

    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
    <script>
        //Hide company when user don't choose role company
        $(document).ready(function () {
            $('#Input_Role').change(function () {
                var selection = $('#Input_Role Option:Selected').text();
                //console.log(selection);
                if (selection != 'Company') {
                    $('#ApplicationUser.CompanyId').hide();
                } else {
                    $('#ApplicationUser.CompanyId').show();
                }
            });
        })
    </script>
}
